###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Uncomment the variables if any changes from the default values             #
###############################################################################



#Keycloak Datasource connection and settings

KEYCLOAK_JDBC_DB=keycloak
KEYCLOAK_JDBC_USER=admin
KEYCLOAK_JDBC_PASSWORD=XSXQTAZ3Wc7WFvUfkE4dM9NGr8MFdTmc

#Keycloak admin credentials

KEYCLOAK_ADMIN_USER={{ keycloak.admin_user }}
KEYCLOAK_ADMIN_PASSWORD=rVGCGvRtXzsdvvwSg9AWzzBm8e3uVa9R
