defaultRules:
  rules:
    etcd: false

prometheus-windows-exporter:
  prometheus:
    monitor:
      enabled: false

alertmanager:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - alertmanager.demo.mawari.eu
    tls:
    - secretName: alertmanager-general-tls
      hosts:
      - alertmanager.demo.mawari.eu
  alertmanagerSpec:
    externalUrl: https://alertmanager.demo.mawari.eu

grafana:
  adminUser: admin
  adminPassword: password
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - grafana.demo.mawari.eu
    tls:
    - secretName: grafana-general-tls
      hosts:
      - grafana.demo.mawari.eu

kubelet:
  enabled: false

kubeEtcd:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

prometheus:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - prometheus.demo.mawari.eu
    tls:
    - secretName: prometheus-general-tls
      hosts:
      - prometheus.demo.mawari.eu
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
