# change the IPs to the private IPs of the cluster
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kubernetes_api_url }}:6443"
    token: "{{ hostvars[groups['controlplanes'][0]]['kubeadm_join_token'] }}"
    caCertHashes: 
    - "{{ hostvars[groups['controlplanes'][0]]['kubeadm_cert_hash'] }}"
nodeRegistration:
  criSocket: unix:///var/run/crio/crio.sock
  kubeletExtraArgs:
  - name: "v"
    value: "4"
  - name: "node-ip"
    value: "192.168.1.X" # IP ANPASSEN
timeouts:
  controlPlaneComponentHealthCheck: 4m0s
  discovery: 5m0s
  etcdAPICall: 2m0s
  kubeletHealthCheck: 4m0s
  kubernetesAPICall: 1m0s
  tlsBootstrap: 5m0s
  upgradeManifests: 5m0s
