# Author: Shibin Thomas
services:
  keycloak-db:
    image: {{ image.postgresql }}
    restart: always
    container_name: forms-flow-idm-keycloak_db
    volumes:
      - keycloak-postgresql-data:/bitnami/postgresql
    environment:
      POSTGRES_DB: ${KEYCLOAK_JDBC_DB:-keycloak}
      POSTGRES_USER: ${KEYCLOAK_JDBC_USER:-admin}
      POSTGRES_PASSWORD: ${KEYCLOAK_JDBC_PASSWORD:-changeme}
    ports:
      - 5431:5431
    networks:
      - keycloak-server-network
      - caddy-net

  keycloak:
    image: {{ image.keycloak }}
    restart: unless-stopped
    container_name: forms-flow-idm-keycloak
    volumes:
      - ./imports:/opt/keycloak/data/import
    command:
      - "start"
      - "--http-enabled=true"
      - "--http-port=8080"
      - "--hostname-strict=false"
      - "--import-realm"
      - "--http-relative-path=/auth"
    environment:
      - KC_DB=postgres
      - KC_DB_URL_HOST=keycloak-db
      - KC_DB_URL_DATABASE=${KEYCLOAK_JDBC_DB:-keycloak}
      - KC_DB_USERNAME=${KEYCLOAK_JDBC_USER:-admin}
      - KC_DB_PASSWORD=${KEYCLOAK_JDBC_PASSWORD:-changeme}
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER:-admin}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-changeme}
      - KC_PROXY=edge
      - KC_HTTP_RELATIVE_PATH=/auth
    ports:
      - 8080:8080
    depends_on:
      - keycloak-db
    networks:
      - keycloak-server-network
      - caddy-net

networks:
  keycloak-server-network:
    driver: 'bridge'
  caddy-net:
    name: caddy_proxy
    external: true

volumes:
  keycloak-postgresql-data:
