wordpressUsername: demo
wordpressEmail: demo@example.com
wordpressFirstName: DemoFirstName
wordpressLastName: DemoLastName
wordpressBlogName: Demo Blog!
wordpressTablePrefix: wp_
wordpressScheme: https

resourcesPreset: "large"

service:
  type: ClusterIP

ingress:
  enabled: true
  ingressClassName: "nginx"
  hostname: wordpress.demo.mawari.eu
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  tls: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

mariadb:
  auth:
    rootPassword: "secureRootPassword"
    password: "securePassword"

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: "monitoring"