wordpressUsername: demo
wordpressEmail: demo@example.com
wordpressFirstName: DemoFirstName
wordpressLastName: DemoLastName
wordpressBlogName: Demo Blog!
wordpressTablePrefix: wp_
wordpressScheme: https
