wordpressUsername: demo
wordpressEmail: demo@example.com
wordpressFirstName: DemoFirstName
wordpressLastName: DemoLastName
wordpressBlogName: Demo Blog!
wordpressTablePrefix: wp_
wordpressScheme: https

resourcesPreset: "large"

service:
  type: ClusterIP

ingress:
  enabled: true
  ingressClassName: "traefik"
  hostname: wordpress.mawari.eu
  tls: true
