###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Uncomment the variables if any changes from the default values             #
###############################################################################



REDASH_HOST=https://redash.formsflow.publicplan.cloud
PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO
REDASH_REDIS_URL=redis://redis:6379/0
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ZHC8PoUvKVmuP8Y6EfjKWSBaXxEowEK5
POSTGRES_DB=postgres
REDASH_COOKIE_SECRET=6QrUfqrHUwe6Yose73ovy7Dcp9bAqSUyHodWY7nn9Naimg2BgBRVUw8MhnA5RnV4
REDASH_SECRET_KEY=v2sxMSaK3ga27wGt4h8nQQ9gXZdgtDVAp3VsQ9PUNtPjC6iqb7bZTvKnjzpxEmRD
REDASH_DATABASE_URL=postgresql://postgres:ZHC8PoUvKVmuP8Y6EfjKWSBaXxEowEK5@postgres/postgres
REDASH_CORS_ACCESS_CONTROL_ALLOW_ORIGIN=*
REDASH_REFERRER_POLICY=no-referrer-when-downgrade
REDASH_CORS_ACCESS_CONTROL_ALLOW_HEADERS=Content-Type, Authorization

# Redash Mail Server settings
# REDASH_MAIL_SERVER=
# REDASH_MAIL_PORT=
# REDASH_MAIL_USE_TLS=
# REDASH_MAIL_USE_SSL=
# REDASH_MAIL_USERNAME=
# REDASH_MAIL_PASSWORD=
# REDASH_MAIL_DEFAULT_SENDER=

# Multi tenancy config
# REDASH_MULTI_ORG=true
