global:
  domain: "{{ argocd.domain }}"

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: "{{ argocd.domain }}"
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls: true

configs:
  cm:
    exec.enabled: true 
    oidc.config: |  
      name: Keycloak
      issuer: "{{ argocd.keycloak.url }}"
      clientID: "{{ argocd.keycloak.client_id }}"
      clientSecret: $oidc.keycloak.clientSecret
      requestedScopes: ["openid", "profile", "email", "groups"]
  params:
    server.oidc.cache.expiration: "60m0s"
    server.insecure: true
  rbac:
    create: false
  ssh:
    extraHosts: |
      gitlab.publicplan.cloud ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDHlOX6N24O3d+/aLOcNZCky1qp+oKjP1Pqzu7SlYFCxIjWUsgD54PxiCY4yIpF3FJrga2xZPtLe0gRofKu+bnGDuuQPgq4trlTMt7+UmrrQt/7JGl8hs2gdfEZXgqYbGEJQawECb0WsNzhKXh3ciIptOUzRZ94fpbzaBTq6WLGPCIneIYFfuu7I2A04PMZYpsdRXE0Tv5rgCrgos4tPsYtL2wMb8UVKVLNF9WDhyMkOuwZf00jUxb+HO1LljA19089HJ/ZDjgXZgT4x7pxzSSg9IRg99ZXLVJH7affcPGuyMRSVTpqLPmDnIV9fjDbTHDpYgHd5IPuOvVed3thPY0L8zqnBDyCypmN8fIMBx950s3BYPWXdsX0vQ74XMuFwkELzk5Gl+IfoSeYtMXP2NZPPpi/8UcMSZbOJKs/F+Cp8S36r+3whoOLFzRnw3JpMvgfhu9mNp8SLnmYLS6DC2NlnxLuMLL8y+Lexs0EdIGx8Z6YFf+WB6l031n7cn5dOQs=
      gitlab.publicplan.cloud ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBE05P6/uicD20ZR4ARiK0SPjSsw28SjjLUPxj9NByXzzxDqZQGQWWGtjlWCTkkXx8CH3OITrHAxlvBAQmGNP0Gw=
      gitlab.publicplan.cloud ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGldWiy64SqcnvV09xxb4UTU4XPVG4PZaBRpFlvdi5uf
  secret:
    extra:
      oidc.keycloak.clientSecret: "{{ argocd.keycloak.client_secret }}"
