[controlplanes]
controlplane-001 ansible_host=12.34.45.78 ansible_user=shield ansible_port=22222
controlplane-002 ansible_host=12.34.45.78 ansible_user=shield ansible_port=22222
controlplane-003 ansible_host=12.34.45.78 ansible_user=shield ansible_port=22222

[worker]
worker-001 ansible_host=12.34.45.78 ansible_user=shield ansible_port=22222
worker-002 ansible_host=12.34.45.78 ansible_user=shield ansible_port=22222
worker-003 ansible_host=12.34.45.78 ansible_user=shield ansible_port=22222
