[controlplanes]
controlplane-001 ansible_host=12.34.45.78 ansible_user="{{ ssh_user }}" ansible_port="{{ ssh_port }}"
controlplane-002 ansible_host=12.34.45.78 ansible_user="{{ ssh_user }}" ansible_port="{{ ssh_port }}"
controlplane-003 ansible_host=12.34.45.78 ansible_user="{{ ssh_user }}" ansible_port="{{ ssh_port }}"

[worker]
worker-001 ansible_host=12.34.45.78 ansible_user="{{ ssh_user }}" ansible_port="{{ ssh_port }}"
worker-002 ansible_host=12.34.45.78 ansible_user="{{ ssh_user }}" ansible_port="{{ ssh_port }}"
worker-003 ansible_host=12.34.45.78 ansible_user="{{ ssh_user }}" ansible_port="{{ ssh_port }}"

[all:vars]
ansible_python_interpreter=/usr/bin/python3
