# Author: Gurumoorthy Mohan, Kurian Benoy
x-redash-service: &redash-service
  image: {{ image.redash }}
  depends_on:
      - postgres
      - redis
  env_file: .env
  restart: always

services:
  server:
    <<: *redash-service
    command: server
    container_name: forms-flow-redash
    ports:
      - '7000:5000'
    environment:
      REDASH_WEB_WORKERS: 4
      REDASH_MULTI_ORG: ${REDASH_MULTI_ORG:-false}
    networks:
      - default
      - caddy-net
  scheduler:
    <<: *redash-service
    command: scheduler
    depends_on:
      - server
  scheduled_worker:
    <<: *redash-service
    command: worker
  adhoc_worker:
    <<: *redash-service
    command: worker
  worker:
    <<: *redash-service
    command: worker
    environment:
      QUEUES: "periodic emails default"
      WORKERS_COUNT: 1
    depends_on:
      - server
  redis:
    image: {{ image.redis }}
    restart: always
    networks:
      - default
      - caddy-net
  postgres:
    image: {{ image.postgresql }}
    ports:
      - '7432:5432'
    restart: always
    env_file: .env
    volumes:
      - forms-flow-analytics-postgresql-data:/bitnami/postgresql

  # Uncomment the following to enable redash mail server
  # email:
  #   image: djfarrelly/maildev
  #   ports:
  #     - "1080:80"
  #   restart: unless-stopped
  
volumes:
  forms-flow-analytics-postgresql-data:

networks:
  caddy-net:
    name: reverse_proxy
    external: true
