services:
  nocodb:
    image: {{ image.nocodb }}
    restart: unless-stopped
    container_name: nocodb
    volumes:
      - caddy_data:/data
    networks:
      - proxy-net

volumes:
  caddy_data:
    external: true
  caddy_config:

networks:
  proxy-net:
    name: reverse_proxy
    external: true
