services:
  caddy:
    image: {{ image.nocodb }}
    restart: unless-stopped
    container_name: caddy
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
    networks:
      - proxy-net

volumes:
  caddy_data:
    external: true
  caddy_config:

networks:
  proxy-net:
    name: reverse_proxy
    external: true
